@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sixtyfour&family=Varela+Round&display=swap");

body {
  background-color: green;
}

* {
  margin: 0;
  padding: 0;
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 45px;
    background-color: black;
    color: white;
    
}

nav ul li{
  padding: 0 12px;
}
.brand img {
    width: 43px;
    padding: 0 2px;
    
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.bottom{
  position: sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 75vh;
  background-color: black;
  color: white;
  font-family: 'Space Grotesk', sans-serif;



  display: flex;
  width: 70%;
  margin: 23px auto;
  border-radius: 10px;
  padding: 15px;
  background-image: url('bg.jpg');
}

#myProgressBar{
  width: 80vw;
  cursor: pointer;
}

.icons{
  margin-top: 14px ;

}
.icons i{
  cursor:pointer;
}



.songItems{
  

  
  
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  
}

.songItems img{
  height: 50px;
  margin: 0 15px;
  border-radius: 34px;
  margin: 10px 10px;
}
.songItems i {
  padding: 8px;
}

.timestamp{
  margin: 0 2px;
}

.timestamp i{
  cursor: pointer;
  
}

.songItemsContainer{
  margin-top: 50px;
}

.songInfo{
  position:absolute;
  left: 10vw;
}

/* .songInfo{
  opacity: 0;
  transition: opacity 3s ease-in;
} */

#gif {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin: 0 10px;
}

#myProgressBar {
  transition: all 0.2s linear;
}

#masterSongName{
  background-color: black;
  padding: 10px;
  border-radius: 16px;
}



@media (max-width: 768px) {
  .brand{

    margin: 0px;
  }
  
  .container {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
  }
  
  nav ul li {
    padding: 0 8px;
    font-size: 0.9rem;
  }
  
  .songItems {
    font-size: 0.9rem;
  }

  .bottom{
    margin: 0px;
  }
}

@media (max-width: 480px) {

  
  .brand {
    width: 1010%;
    font-size: 0.8rem;
  }
  
  .songItems {
    min-width: 250px;
  }
  
  #masterSongName {
    font-size: 0.8rem;
  }
  
  .icons i {
    font-size: 1.2rem !important;
  }
}


@media (max-width:400px) {
  .songInfo #masterSongName{
    display: none;
  }
}