@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sixtyfour&family=Varela+Round&display=swap");

body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 45px;
    background-color: black;
    color: white;
    
}

nav ul li{
  padding: 0 12px;
}
.brand img {
    width: 43px;
    padding: 0 2px;
    
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.bottom{
  position: sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 75vh;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, Oxygen-Sans, 
               Ubuntu, Cantarell, "Helvetica Neue", 
               sans-serif;
}

#myProgressBar{
  width: 80vw;
}

.icons{
  margin-top: 14px ;

}
.icons i{
  cursor:pointer;
}
/* .fa{
  background-color: black;
  color: white;
} */