.centre{
    text-align: center;
    align-items: center;
}

.bgred{
    background-color: red;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;

}

.mxauto{
    margin: auto;
}

.m-w-20{
    max-width: 27vw;
}
.button{
    padding: 20px;
}